# SPDX-FileCopyrightText: 2025-2026 CocoIndex (upstream)
# SPDX-FileCopyrightText: 2026 Knitli Inc.
# SPDX-FileCopyrightText: 2026 Knitli Inc. (ReCoco)
# SPDX-FileContributor: Adam Poulemanos <adam@knit.li>
# SPDX-FileContributor: CocoIndex Contributors
#
# SPDX-License-Identifier: Apache-2.0

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "ci"
      include: "scope"
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "cargo"
    commit-message:
      prefix: "ci"
      include: "scope"