# SPDX-FileCopyrightText: 2025-2026 CocoIndex.io (upstream)
# SPDX-FileCopyrightText: 2026 Knitli Inc. (ReCoco)
# SPDX-FileContributor: Adam Poulemanos <adam@knit.li>
# SPDX-FileContributor: CocoIndex Contributors
#
# SPDX-License-Identifier: Apache-2.0

/target

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.venv*/
dist/

.DS_Store

*.egg-info/

/.vscode
/*.session.sql

# mypy daemon environment
.dmypy.json

# Output of `cocoindex eval`
examples/**/eval_*
examples/**/uv.lock
