#:tombi schema.strict = false

[tasks.installdeps]
description = "Install dependencies for the project"
run = "bun install"
tools.bun = "latest"

[tasks.gentypes]
description = "Generate Cloudflare types for the project"
run = "wrangler types"
tools.wrangler = "latest"
depends = ["installdeps"]

[tasks.dev]
description = "Start the development server"
run = "bun run dev"
tools.bun = "latest"
depends = ["gentypes"]

[tasks.build]
description = "Build the project for production"
run = "bun run build"
tools.bun = "latest"
depends = ["gentypes"]

[tasks.deploy]
description = "Deploy the project to Cloudflare"
run = '''
cp public/.assetsignore dist/.assetsignore &&
bun run deploy
'''
tools.bun = "latest"
depends = ["build"]

[tasks.clean]
description = "Clean the project by removing the dist directory"
run = [
  "rm -rf dist",
  "rm -rf .wrangler",
  "rm -rf node_modules",
  "rm -rf .astro",
]

[tasks.clean-install]
description = "Clean the project and install dependencies"
depends = ["clean", "installdeps"]

[tasks.fmt]
description = "Format the codebase using Biome"
run = "biome format . --write --changed"
tools.biome = "latest"

[tasks.lint]
description = "Lint the codebase using Biome"
run = "biome check . --changed"
tools.biome = "latest"

[tasks.fix]
description = "Fix linting issues using Biome"
run = "biome check . --write --changed"
tools.biome = "latest"
